# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# C extensions
*.so

# MyPy
.mypy_cache/

# pytest cache
.pytest_cache/

# Environments
.env
.venv

# Jupyter Notebook files
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs and databases
*.log
*.sqlite3
*.db

# OS-specific files
.DS_Store
Thumbs.db

Sensor_Logs/
Debug_Logs/
Archive_Sensor_Logs/
split.sh
backup
*.txt
*.bak
